.icon {
  padding: 0 14px;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
    border-radius: 8px;
    margin: 10px 0px;
    color: white;
    background: linear-gradient(0deg, rgba(100,116,229,1) 0%, rgba(154,164,236,1) 100%);
    mat-toolbar-row{
        font-weight: 100;
    }
}

