<div class="container">
  <div class="row">
    <div class="col-md-12">
      <mat-toolbar>
        <mat-toolbar-row>
          <span>My polls</span>
          <span class="spacer"></span>
          <button (click)="onClickCreate()" mat-stroked-button>Create new<mat-icon class="icon" aria-hidden="false">library_add</mat-icon>
          </button>
        </mat-toolbar-row>
        <mat-toolbar-row *ngIf="create" class="col-md-12">
            <app-poll-create style="width: 100%;"></app-poll-create>
        </mat-toolbar-row>
      </mat-toolbar>
      <mat-accordion class="headers-align">
        <ng-container *ngFor="let p of (polls | async)">
          <app-poll-list [name]="p.poll.name" [createdOn]="p.poll.createdOn" [answers]="p.poll.answers"
            [pollID]="p.pollID" [private]="p.poll.private? 'Private': 'Public'"></app-poll-list>
        </ng-container>
      </mat-accordion>
    </div>
  </div>
</div>
