<mat-drawer-container [ngClass]="{'phoneAndSlash' : !userLoggedIn}" class="nav-container disable">
  <mat-drawer #drawer [mode]="push" class="sidenav" mode="side">
    <div>
      <mat-action-list>
        <div *ngIf="this.userLoggedIn" id="loggedInUser">
          <p><span>{{ member.username }}</span><br>
            {{ member.email }}</p>
        </div>
        <a routerLink="Polls">
          <button mat-list-item> Home &nbsp; <mat-icon>home</mat-icon></button>
        </a>
        <a routerLink="My-polls">
          <button mat-list-item> My polls &nbsp; <mat-icon>bar_chart</mat-icon></button>
        </a>
        <a routerLink="Friends">
          <button mat-list-item> Friends &nbsp; <mat-icon>group</mat-icon></button>
        </a>
        <a routerLink="Notifications">
          <button mat-list-item> Notifications &nbsp; <mat-icon *ngIf="notificationCount == 0">notifications</mat-icon> <mat-icon *ngIf="notificationCount != 0" [matBadge]="notificationCount" matBadgeColor="warn">notifications</mat-icon></button>
        </a>
        <a routerLink="">
          <button mat-list-item> Account &nbsp; <mat-icon>settings_applications</mat-icon></button>
        </a>
      </mat-action-list>
    </div>
  </mat-drawer>
  <div class="sidenav-content">
    <mat-toolbar class="homeToolbar">
      <button *ngIf="this.userLoggedIn" type="button" style="margin-left: 5px;" mat-button (click)="drawer.toggle()"
        color="primary">
        <mat-icon>menu</mat-icon>
      </button>
      <a *ngIf="!this.userLoggedIn" routerLink=""><img class="logo" src="../assets/logo.png" width="180px" alt="logo"></a>
      <a *ngIf="this.userLoggedIn" routerLink="Polls"><img class="logo" src="../assets/logo.png" width="180px" alt="logo"></a>
      <div class="nav-list">
        <a *ngIf="!this.userLoggedIn" routerLink="Login">
          <button mat-flat-button style="margin-right: 15px;" color="primary">
            <a>Login</a>
          </button>
        </a>
        <a *ngIf="!this.userLoggedIn" [routerLink]="['/Register', 'test@test.com']">
          <button mat-flat-button style="margin-right: 15px;" color="primary">
            <a>Register</a>
          </button>
        </a>
        <button (click)="onClickLogout()" *ngIf="this.userLoggedIn" mat-flat-button color="primary">
          Logout
        </button>
      </div>
    </mat-toolbar>
    
    <router-outlet></router-outlet>
    <div *ngIf="!this.userLoggedIn" class="footer">Apolly &copy; Created by <a href="https://itwesley.sinners.be/">Wesley Janse</a>.</div>
  </div>
</mat-drawer-container>
