.jumbotron {
  box-shadow: none;
  // background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(232, 246, 255, 1) 18%, rgba(183, 229, 255, 1) 59%, rgba(78, 161, 211, 1) 100%);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,250,244,1) 22%, rgba(255,244,228,1) 59%, rgba(255,217,163,1) 100%);

  height: 300px;
  margin: 15px 0px;

  h1,
  h3 {
    text-align: center;
    font-weight: 100;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

app-poll-vote {
  width: 95%;
  height: 95%;
}