<mat-horizontal-stepper linear="true" #stepper>
  <mat-step [stepControl]="titleFormGroup">
    <form [formGroup]="titleFormGroup">
      <ng-template matStepLabel> <span style="color: white;">What is the title of your poll?</span> </ng-template>
      <mat-form-field style="width: 50%;">
        <input matInput placeholder="Title" formControlName="titleCtrl">
      </mat-form-field>
      <div>
        <button mat-stroked-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="answerFormGroup">
    <form [formGroup]="answerFormGroup">
      <ng-template matStepLabel><span style="color: white;">Fill in possible answers (Seperated by comma's)</span></ng-template>
      <mat-form-field style="width: 100%;">
        <mat-chip-list #chipList aria-label="Type possible answers (Seperated by comma's)">
          <mat-chip *ngFor="let a of answers" [selectable]="selectable" [removable]="removable" (removed)="remove(a)">
            {{a}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input formControlName="answerCtrl" placeholder="New answer..." [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>
      <div>
        <button mat-stroked-button matStepperPrevious>Back</button>
        <button mat-stroked-button matStepperNext class="ml-2">Next</button>
      </div>
      <p style="font-size: 12px; font-weight: 100; color: #d6d6d6;">Note: In order to keep the polls fair, you won't be
        able to change the answers afterwards.</p>
    </form>
  </mat-step>
  <mat-step [stepControl]="submitFormGroup">
    <form [formGroup]="submitFormGroup" (ngSubmit)="onSubmit()">
      <ng-template matStepLabel><span style="color: white;">Privacy</span></ng-template>
      <p>Do you want your poll to be private or public?</p>
      <mat-slide-toggle formControlName="privateCtrl" color="primary">
        Private
      </mat-slide-toggle>
      <div>
        <button mat-stroked-button matStepperPrevious>Back</button>
        <button mat-stroked-button class="ml-2" type="submit">Submit</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
