mat-horizontal-stepper {
  background-color: transparent;
  color: white;
}

mat-vertical-stepper {
  background-color: transparent;
  color: white;
}

::ng-deep .stepper input.mat-input-element {
  color: white;
}


::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #575757 !important;
}

::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background-color: #575757 !important;
}
