<form [formGroup]="answerForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-title>
      <span (window:resize)="onResize($event)" [ngClass]="{'pollTitleFontSize': pollTitleFontSize}">{{ name }}</span>
    </mat-card-title>
    <mat-card-subtitle style="padding-bottom: 5px;border-bottom: 1.5px solid #A3DCFF;">
      Created by: {{ creator }} <br />
      <p *ngIf="alreadyVoted" style="color: red;">You have already voted on this poll</p>
    </mat-card-subtitle>
    <mat-card-content>
      <div *ngIf="submitted">
        <div class="row containerResult" style="margin: 5px;">
          <div *ngFor="let poll of pollOptions" class="col-md-6">
            <h3 style="font-weight: 100; text-align: center; margin: 3px 0px;">{{ poll.possibleAnswer }}</h3>
            <div
              style="margin: auto; position: relative; width: 100px; height: 100px; display: flex; align-items: center; justify-content: center;">
              <mat-progress-spinner style="margin: auto; width: 100px;height: 100px;position: absolute;top: 0;left: 0;"
                [color]="'accent'" [mode]="'determinate'" [value]="poll.count">
              </mat-progress-spinner>
              <h1 style="font-weight: 100;">{{ poll.count }}%</h1>
            </div>
          </div>
        </div>
      </div>
      <mat-radio-group *ngIf="!submitted" formControlName="chosenAnswer" aria-labelledby="radio-group-label"
        class="radio-group">
        <mat-radio-button *ngFor="let a of answers[0]" [value]="a.answerID" class="radio-button">
          {{ a.possibleAnswer }}
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
    <mat-card-actions *ngIf="!submitted">
      <button [disabled]="!answerForm.valid" mat-raised-button color="white" type="submit">Vote</button>
    </mat-card-actions>
  </mat-card>
</form>
